@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PokemonFont';
  src: url(/fonts/Pokemon\ Solid.ttf) format('truetype');
}

@font-face {
  font-family: 'BitFont';
  src: url(/fonts/nokiafc22.ttf) format('truetype');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.use-pokefont {
  font-family: "PokemonFont" !important;
}

.use-bitfont {
  font-family: "BitFont" !important;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
